/* global css */
/* Note: might conflict with existing styles if not in shadow DOM */

/* New ClickGUI Styles */
#new-clickgui-container,
#main-gui-container,
#textgui-container,
#hud-gui-container {
	font-family: Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#new-clickgui-container *,
#main-gui-container *,
#textgui-container *,
#hud-gui-container * {
	box-sizing: border-box;
}

#new-clickgui-container .clickgui-scrollbar::-webkit-scrollbar,
#hud-gui-container .clickgui-scrollbar::-webkit-scrollbar {
	width: 2px;
}

#new-clickgui-container .clickgui-scrollbar::-webkit-scrollbar-track,
#hud-gui-container .clickgui-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

#new-clickgui-container .clickgui-scrollbar::-webkit-scrollbar-thumb,
#hud-gui-container .clickgui-scrollbar::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 2px;
}

#new-clickgui-container .clickgui-scrollbar::-webkit-scrollbar-thumb:hover,
#hud-gui-container .clickgui-scrollbar::-webkit-scrollbar-thumb:hover {
	background: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none; /* removes default light style */
	margin: 0;
	background: transparent; /* dark background */
	color: #ccc; /* lighter arrow color */
	width: 16px;
	height: 16px;
	border-left: 1px solid #555;
}

input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-outer-spin-button:hover {
	background: transparent;
}
