/* global css */
/* Note: might conflict with existing styles if not in shadow DOM */

/* New ClickGUI Styles */
#new-clickgui-container,
#main-gui-container,
#textgui-container {
	font-family: Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#new-clickgui-container *,
#main-gui-container *,
#textgui-container * {
	box-sizing: border-box;
}

#new-clickgui-container .clickgui-scrollbar::-webkit-scrollbar {
	width: 2px;
}

#new-clickgui-container .clickgui-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

#new-clickgui-container .clickgui-scrollbar::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.25);
	border-radius: 2px;
}

#new-clickgui-container .clickgui-scrollbar::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.4);
}
