# Syncs GitHub -> Codeberg
name: Push changes to Codeberg

on: [push, workflow_dispatch]

jobs:
  push-to-codeberg:
    runs-on: ubuntu-latest
    if: github.actor != 'github-actions[bot]'
    steps:
      - name: Checkout repository (full history)
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Configure git user
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Push to Codeberg (HTTPS)
        env:
          CODEBERG_USER: ${{ secrets.CODEBERG_USERNAME }}
          CODEBERG_TOKEN: ${{ secrets.CODEBERG_TOKEN }}
        run: |
          URL="https://${CODEBERG_USER}:${CODEBERG_TOKEN}@codeberg.org/Miniblox/VapeRewrite.git"
          git push "$URL" --prune --all
          git push "$URL" --tags
